<!DOCTYPE html>
<html>
  <head>
    <title>Project Name Gen</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body>
    <h3>Refresh the page to get a new random project name</h3>
    <p><h1 class='random'><%= random %></h1></p>
  </body>
</html>
